<!DOCTYPE html>

<html lang="ja">

<head>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>  
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

<div id="app">
  <div>
    <input
      v-for="pref in _.range(1, 48)"
      v-on:change="changeGraph($event.target.checked, pref)"
      type="checkbox"
    >
  </div>

  <p>Prefecture Code: {{ prefCode }}</p>
  <p v-if="!jsonData">Loading ...</p>
  <div v-else>
    <ul>
      <li v-for="prefData in jsonData">
        {{ prefData.year }} : <span v-bind:style="{ display: 'inline-block', 'background-color': 'gray', width: (prefData.value / 10000) + 'px', height: '10px' }"></span>
      </li>
    </ul>
  </div>
</div>

<script>
Vue.createApp({
  data() {
    return {
      prefCode: 1,
      jsonData: null,
    };
  },

  methods: {
    changeGraph(checked, pref) {
      if (checked) {
        this.prefCode = pref;
        this.fetchData();
      }
    },

    async fetchData() {
      this.jsonData = null;
      
      const options = {
        headers: {
          'X-API-KEY': '※※※ ここに自分の API キーを入れる ※※※',
        },
      };
      
      const res = await fetch(
        `https://opendata.resas-portal.go.jp/api/v1/population/composition/perYear?cityCode=-&prefCode=${this.prefCode}`,
        options,
      );
      
      this.jsonData = await res.json();
      // 事前の jsonData すなわち RESAS API の生のデータから ...
      //
      // .result -> result というプロパティをたどり ...
      // .data   -> さらに data というプロパティをたどり ...
      // [0]     -> ↑が配列になるので、その最初の要素を取り ...
      // .data   -> 年 / 数値だけの配列まで取り出す
      this.jsonData = this.jsonData.result.data[0].data;
    }
  },

  mounted() {
    this.fetchData();
  },
}).mount('#app')
</script>

</body>

</html>